<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<link rel="styleSheet" href="../css/pl.css">
</head>
<body>
 
    <button href="../Home.html" id="backto">Back to Home</button>
     
    <p class="pl">Programming Languages</p>
    <!-- <iframe class="ebook" src="https://1lib.in/"></iframe> -->
    <div class="pl1">
        <h2>Select Your Language-</h2>
        <div class="lang">
            
        <li ><a href="" >C++</a></li>
        <img src="../img/c-.png">
    </div>
    <div class="vl"></div>
    <div class="lang">
        <li ><a href="" >C</a></li>
        <img src="../img/letter-c.png">
    </div>
    <div class="vl"></div>
        <div class="lang">
            <li ><a href="" >Java</a></li>
        <img src="../img/java.png">  
        </div>
        <div class="vl"></div>
        <div class="lang">
            
        <li ><a href="" >Python</a></li>
        <img src="../img/python.png">
    </div>
         
     
    </div>
    <div></div>
    <script src="../Home.js"></script>
</body>
</html>